<div class="contain">

  <div class="main-sidebars">

    <div class="logo"></div>
    <div class="menu">


          <a class="dropdown-items">
            <i class="fa fa-dashboard"></i>
            <span class="marges">Tableau de bord</span>
          </a>


          <a class="dropdown-items" href="#">
            <i class="fa fa-users"></i>
            <span class="marges">Client</span></a>


    </div>




  </div>

  <div class="sections">
    <header class="main-headers">
      <nav class="navigations">
        <a class="sidebar-toggle" data-toggle="offcanvas"></a>

      </nav>

    </header>
    <section class="content-headers"></section>
    <div class="conteneurs">
      <div class="search-content">
        <div class="add-buton"></div>
        <div class="search-buton">
          <input class="form-control" type="text">
        </div>
        <div class="filter-buton"></div>
      </div>
    </div>
  </div>



</div>
